root = true

[*]
	end_of_line = lf
	trim_trailing_whitespace = true
	indent_style = tab
	indent_size = 3
	insert_final_newline = true
	block_comment_start = /*
	block_comment = *
	block_comment_end = */

[Makefile]
	indent_style = tab

[*.yml]
	indent_style = space
	indent_size = unset
